<div class="contact-us">
    <div class="container">
        <h1>Contact Us</h1>
        <p>Have any questions, comments, or want to keep in touch? Drop us a line or reach out through our social media platforms.</p>
        <div class="contact-content">
            <div class="contact-form">
                <h2>Get in Touch</h2>
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <button type="submit">Send Message</button>
                </form>
            </div>
            <div class="contact-info">
                <h2 class="title">GigaTeam Solutions LTD</h2>
                <address>
                    Kenneth Matiba Street (Accra Road), White Angle House 1st Floor Room 62<br/>
                    Nairobi, Kenya<br/>
                    Phone: +254 718 285251<br/>
                    Secondary phone:  +254 718 811661<br/>
                    Email: <a href="mailto:sales@gigateamsolutions.co.ke">sales&#64;gigateamsolutions.co.ke</a><br/>
                    Secondary Email: <a href="mailto:gigateamsolutions@gmail.com">gigateamsolutions&#64;gmail.com</a>
                </address>
                <div class="opening-hours">
                    <h2>Opening Hours</h2>
                    <p>Monday to Friday: 07:00 - 18:00<br/>
                    Saturday: 09:00 - 17:00<br/>
                    Sunday and Holidays: Closed</p>
                </div>
            </div>
        </div>
    </div>
</div>
