<h2>Privacy and Security Policy</h2>
<p>GIGA TEAM SOLUTIONS has created the following Privacy and Security Policy (“Privacy Policy”) to inform you of the following: what information we collect, when we collect it, how and why we collect it, how we use it, how we protect it, how we share it and what choices you have regarding our collection and use of this information.</p>
<p>This Privacy Policy applies to the following sites: <a href="https://gigateamsolutions.co.ke" target="_blank">https://gigateamsolutions.co.ke</a>. Entering the Sites constitutes your acceptance and agreement to the terms contained in this Privacy Policy. If you do not agree with the terms set forth in this Privacy Policy, please do not enter the Sites.</p>

<h3>What Information We Collect</h3>
<p><strong>Types of Information We Collect</strong></p>
<ul>
    <li>Your name</li>
    <li>Your billing and delivery address</li>
    <li>Your e-mail address</li>
    <li>Your phone (or mobile) number</li>
    <li>Your credit/debit card number</li>
    <li>Information on how you are using the Sites</li>
    <li>Your purchase/return/exchange information</li>
</ul>

<p><strong>We Collect Information When</strong></p>
<ul>
    <li>You purchase, order, return, exchange or request information about our products and services from the Sites or mobile applications.</li>
    <li>You create a gigateamsolutions.co.ke account.</li>
    <li>You connect with us regarding customer service via our customer service center, or on social media platforms.</li>
    <li>You visit the Sites or participate in interactive features of the Sites or mobile applications.</li>
    <li>You use a social media service, for example, our Facebook page or Twitter channel.</li>
    <li>You sign up for e-mails, mobile messages, or social media notifications from us.</li>
    <li>You enter a contest or sweepstakes, respond to one of our surveys, or participate in a focus group.</li>
</ul>

<h3>How and Why We Collect Information</h3>
<p><strong>Technologies Used</strong></p>
<p>We may use tracking pixels/web beacons, cookies and or other technologies to receive and store certain types of information. This information includes Internet Protocol (IP) addresses, browser information, date/time stamp and click stream data. This information helps us customize your website experience and make our marketing messages more relevant. It also allows us to provide features such as storage of items in your cart between visits. This includes our content presented on other websites or mobile applications. In order to provide the best customer experience possible, we also use this information for reporting and analysis purposes, such as how you are shopping our website, performance of our marketing efforts, and your response to those marketing efforts.</p>

<p><strong>User Experience Information</strong></p>
<p>In order to improve customer online shopping experience, help with fraud identification, and to assist our customer care representatives in resolving issues customers may experience in completing online purchases, we use tools to monitor certain user experience information, including, but not limited to, login information, IP address, data regarding pages visited, specific actions taken on pages visited (e.g., information entered during checkout process), and browser information.</p>

<p><strong>Information from Other Sources</strong></p>
<p>We may also obtain information from companies that can enhance our existing customer information to improve the accuracy and add to the information we have about our customers (e.g., adding address information). This may improve our ability to contact you and improve the relevancy of our marketing by providing better product recommendations or special offers that we think will interest you.</p>

<h3>How We Use the Information We Collect</h3>
<p><strong>Product and Service Fulfillment</strong></p>
<ul>
    <li>Fulfill and manage purchases, orders, payments, returns/exchanges, or requests for information, or to otherwise serve you.</li>
    <li>Provide any requested services.</li>
    <li>Administer sweepstakes and contests.</li>
</ul>

<p><strong>Marketing Purposes</strong></p>
<ul>
    <li>Deliver coupons, mobile coupons, newsletters, receipt messages, e-mails, and mobile messages.</li>
    <li>Send marketing communications and other information regarding products, services and promotions.</li>
    <li>Administer promotions.</li>
</ul>

<p><strong>Internal Operations</strong></p>
<ul>
    <li>Improve the effectiveness of the Sites, mobile experience, and marketing efforts.</li>
    <li>Conduct research and analysis, including focus groups and surveys.</li>
    <li>Perform other business activities as needed, or as described elsewhere in this policy.</li>
</ul>

<p><strong>Fraud Prevention</strong></p>
<p>To prevent fraudulent transactions, monitor against theft and otherwise protect our customers and our business.</p>

<p><strong>Legal Compliance</strong></p>
<p>To assist law enforcement and respond to subpoenas.</p>

<h3>How We Protect the Information We Collect</h3>
<p><strong>Security Methods</strong></p>
<p>We maintain technical, administrative, physical, electronic and procedural safeguards to protect the confidentiality and security of information transmitted to us.</p>

<p><strong>E-mail Security</strong></p>
<p>Please note that e-mail may not be encrypted and is not considered to be a secure means of transmitting credit card information. “Phishing” is a scam designed to steal your information. If you receive an e-mail that looks like it is from us asking you for certain information, do not respond. Though we might ask you your name, we will never request your password, credit card information or other information through e-mail.</p>

<p><strong>Information About Children</strong></p>
<p>We recognize the particular importance of protecting privacy where children are involved. We will never knowingly request or collect personal information from any person under 13 years of age without prior verifiable parental consent. If we become aware that an individual is under the age of 13 and has submitted any information to us, for any purpose without prior verifiable parental consent, we will delete his or her information from our files.</p>

<p><strong>Additional Security</strong></p>
<p>We also ask customers to carefully review their accounts and immediately report any unexpected activity to us and their issuing bank or credit card company. We ask all our customers to take measures to help protect information in their online accounts, including the following:</p>
<ul>
    <li>Install the latest security updates and anti-virus software on your computer to help prevent malware and viruses.</li>
    <li>Reset your e-mail account passwords frequently.</li>
    <li>Use complex passwords or passphrases.</li>
    <li>Do not use the same password on more than one website.</li>
    <li>Do not share your password with others.</li>
    <li>Sign out/log off website sessions so that your session is closed and cannot be accessed by another user on the same computer, especially when using a public computer or terminal.</li>
</ul>

<h3>How We Share the Information We Collect</h3>
<p><strong>General Policy</strong></p>
<p>We do not sell or rent personally identifiable customer information to third parties; except, under limited circumstances outlined below, we may share information with third parties.</p>

<p><strong>Legal Requirements</strong></p>
<p>We may disclose information you provide to us when we believe disclosure is appropriate to comply with the law, including to meet national security or law enforcement requirements; to enforce or apply applicable terms and conditions and other agreements; or to protect the rights, property or safety of our company, our customers or others.</p>

<p><strong>When You Direct Us</strong></p>
<p>At your direction or request, we may share your information.</p>

<p><strong>Business Transfers</strong></p>
<p>If some or all of our business assets are sold or transferred, we generally would transfer the corresponding information regarding our customers. We also may retain a copy of that customer information.</p>

<h3>What Choices Do You Have</h3>
<p><strong>E-mail</strong></p>
<p><strong>Promotional E-mail</strong></p>
<p>If you do not wish to receive promotional e-mails, You have the ability to unsubscribe to promotional e-mails via the opt-out link included in each e-mail. It may take up to 10 business days before you stop receiving promotional e-mails.</p>

<p><strong>Important Notices and Transactional E-mail</strong></p>
<ul>
    <li>From time to time, we may send non-commercial electronic email messages with important information about us or the Sites to your email address.</li>
    <li>We regularly send email order confirmations, email order updates and “leave a review” emails to you after you have submitted an order. E-mail us through <a href="mailto:info@gigateamsolutions.co.ke">info&#64;gigateamsolutions.co.ke</a> or <a href="mailto:gigateamsolutions@gmail.com">gigateamsolutions&#64;gmail.com</a></li>
</ul>

<p><strong>Mobile</strong></p>
<p>We may distribute mobile coupons and text messages to mobile devices of customers who have requested this information via an opt-in request. Customers will be able to opt out of a specific mobile messaging campaign.</p>

<p><strong>Telephone</strong></p>
<p>If you do not wish to receive promotional communication from us, call us at <a href="tel:+254718811661">+(254)718811661</a> or <a href="tel:+254111292948">+(254)111292948</a> to opt out. This opt out does not apply to operational communication, for example, confirmation of delivery address.</p>

<h3>How Do You Access and Update the Information</h3>
<p>In order to keep your information accurate and complete, you can access or update some of your information in the following ways:</p>
<ul>
    <li>If you have created an account, you can log in and update your account information, including contact, billing, and shipping information.</li>
    <li>Contact us with your current contact information and the information you would like to access. We will provide you the information requested if reasonably available, or will describe more fully the types of information we typically collect.</li>
</ul>

<h3>Privacy Policy Scope</h3>
<p>This Privacy Policy applies to all current or former customer information collected by or provided to us.</p>
<p>The Sites may offer links to other sites. If you visit one of these sites, you may want to review the privacy policy on that site. In addition, you may have visited our website through a link or a banner advertisement on another site. In such cases, the site you linked from may collect information from people who click on the banner or link. You may want to refer to the privacy policies on those sites to see how they collect and use this information.</p>

<h3>Privacy Policy Revisions</h3>
<p>By accessing the Site or interacting with us, you consent to our use of information that is collected or submitted as described in this Privacy Policy. We may change or add to this Privacy Policy, so we encourage you to review it periodically.</p>
<br/>
<p>This Privacy Policy was last updated on November 4, 2023.</p>