<div class="column gap-1 wrapper" *ngIf="product" >

    <img [src]="imageUrl" alt="Product Thumbnail">
    <h2 class="title">{{ product.name | truncateName}}</h2>

    <div class="row gap-05">
        <span class="price-label">Price</span>
        <span class="price">{{product.price | price}}</span>
    </div>

    <!-- Action Buttons -->
    <div class="row gap-05">
        <button type="button" pButton icon="pi pi-pencil" (click)="openEditDialog()" label="Edit"></button>
        <button type="button" pButton icon="pi pi-trash"  (click)="confirmDelete()" label="Delete" #deleteButton class="p-button-danger"></button>
    </div>
  </div>
  <!-- Debugging information -->
<div *ngIf="!product">
    <p>No product data available.</p>
  </div>
    


<p-confirmPopup></p-confirmPopup>

<!-- Include the dialog component -->
<app-edit-product 
  [isOpen]="isEditDialogOpen" 
  [product]="product" 
  (productUpdated)="saveProduct($event)" 
  (close)="closeEditDialog()">
</app-edit-product>
