<footer class="footer">
    <div class="footer-container">
        <div class="footer-section about">
            <h4>About Us</h4>
            <p>Giga Team Solutions Ltd is a leading supplier of a wide range of security products. Our products portfollio includes Access Control Systems; Electric fence Equipment and Installation; Automatic Gates and Accessories, Video and Audio Intercoms; CCTV Cameras; Biometrics Systems; which can be easily configured in various application scenarios like home, general office premise, bank, school, villa, parking lot, hospitals, emergency help point.</p>
        </div>
        <div class="footer-section links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li> 
                <li><a href="/randr-policy">Returns and Refunds policy</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h4>Contact Us</h4>
            <address>
                <p><strong>Address:</strong></p>
                <p>White Angle House, Accra Road, 1st Flr Room 62</p>
                <p><strong>Tel:</strong> +(254) 718 285 251 | 0718 811 661</p>
                <p><strong>Email:</strong> <a href="mailto:info@gigateamsolutions.co.ke">info&#64;gigateamsolutions.co.ke</a> | <a href="mailto:gigateamsolutions@gmail.com">gigateamsolutions&#64;gmail.com</a></p>
            </address>

            
            <h4>Work Hours</h4>
            <ul>
                <li><strong>MON-FRI:</strong> 8:00 AM - 6:00 PM</li>
                <li><strong>SAT:</strong> 9:00 AM - 5:00 PM</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 GigaTeam Solutions | All Rights Reserved
    </div>
</footer>
